name: Install dependencies
description: Install dependencies

runs:
  using: composite
  steps:
    - name: Install Node.js
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
      with:
        node-version-file: '.tool-versions'

    - name: Install Bun
      uses: oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3 # v2
      with:
        bun-version-file: '.tool-versions'

    - name: Install dependencies
      shell: bash
      run: bun install
